# ==========================
# React / Node
# ==========================
node_modules/
dist/
npm-debug.log*

# ==========================
# Python
# ==========================
venv/
.venv/
__pycache__/
*.py[cod]

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Django
# ==========================
db.sqlite3
media/
staticfiles/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db